{% extends 'countries/base.html' %}
{% block title %}Country Detail{% endblock %}
{% block content %}
<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    h1 {
        text-align: center;
        margin-top: 0.5em;
        font-weight: bold;
        margin-bottom: 0.5em;
        font-size: 2.5em;
        color: #333;
    }

    p {
        text-align: center;
    }

    .country-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .country-name {
        margin-top: 1.5em; 
        text-align: center;
    }

    .country-image {
        margin-bottom: 1.5em; 
        text-align: center;
        border: 2px solid #000;
        border-radius: 5px;
    }

    .country-details {
        width: 80%;
        margin: auto;
        margin-bottom: 3em;
        border-collapse: collapse;
    }

    .country-details th,
    .country-details td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .country-details th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #f2f2f2;
    }

</style>
<body>
    <div class="country-container">
        <!-- Datos sobre el país de la capital -->
        <h1 class="country-name">{{ country_data.name.common | upper}}</h1>
        <div class="country-image">
            <img src="{{country_data.flags.png}}">
        </div>
        <table class="country-details">
            <tr>
                <th>Capital</th>
                <td>{{ country_data.capital|join:', ' }}</td>
            </tr>
            <tr>
                <th>Divisa</th>
                <td>
                    {% for key, value in country_data.currencies.items %}
                        {{ value.name }} ({{ value.symbol }})
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Continentes</th>
                <td>{{ country_data.continents|join:', ' }}</td>
            </tr>
            <tr>
                <th>Región</th>
                <td>{{ country_data.region }}</td>
            </tr>
            <tr>
                <th>Subregión</th>
                <td>{{ country_data.subregion }}</td>
            </tr>
            <tr>
                <th>Idiomas</th>
                <td>
                    <ul>
                        {% for key, value in country_data.languages.items %}
                            <li>{{ value }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>                
            <tr>
                <th>Área (m²)</th>
                <td>{{ country_data.area }}</td>
            </tr>
            <tr>
                <th>Población</th>
                <td>{{ country_data.population }}</td>
            </tr>
            <tr>
                <th>Timezone</th>
                <td>{{ country_data.timezones|join:', ' }}</td>
            </tr>
        </table>
        
        <!-- Pronóstico diario del clima -->
        <h2>Pronóstico climático semanal en {{ country_data.capital.0 }}</h2>
        <table class="country-details">
            <tr>
                <th>Fecha</th>
                <th>Temperatura Máxima (°C)</th>
                <th>Temperatura Mínima (°C)</th>
                <th>Temperatura Promedio (°C)</th>
                <th>Descripción</th>
            </tr>
            {% for forecast in forecast_data %}
            <tr>
                <td>{{ forecast.datetime }}</td>
                <td>{{ forecast.tempmax }} °C</td>
                <td>{{ forecast.tempmin }} °C</td>
                <td>{{ forecast.temp }} °C</td>
                <td>{{ forecast.description }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
    
{% endblock %}
