{% extends 'countries/base.html' %}
{% block title %}COMPARACIÓN DE PAÍSES {% endblock %}
{% load static %}
{% block content %}

<style>

.container{
    text-align:center
}

.columna1{
    margin-top:2em;
    float:left;
    width:33%;
    border:0px solid;
}

.columna2{
    margin-top:2em;
    float:center;
    width:33%;
    border:0px solid;
}


.columna3{
    margin-top:2em;
    float:right;
    width:33%;
    border:0px solid;
}

.flag{
    width:400px;
    height:250px;
}

.center-img {
    text-align:center
}

</style>

<body>

    <div class="container">
        <div class="columna1">
            <div class="country">
                <img src="{{ country1.flags.svg }}" alt="Flag of {{ country1.name.common }}" class="flag">
                <p class="country-name">{{ country1.name.common }}</p>
            </div>
        </div>
        <div class="columna">
            <div class="center-img">
                <img src="{% static "images/comparison_area.png" %} " alt="Center Image" class="center-png">
            </div>
        </div>    
        <div class="columna3">
            <div class= "country">
                <img src="{{ country2.flags.svg }}" alt="Flag1 of {{ country2.name.common }}" class="flag">
                <p class="country-name">{{ country2.name.common }}</p>
            <div class= "country">
        </div>
    </div>
</body>
</html>

{% endblock %}
