
{% extends 'countries/base.html' %}
{% block title %}Países por Idioma{% endblock %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .country-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        list-style-type: none;
        padding: 0;
    }
    .country-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
    }
    .country-item img {
        max-width: 100px;
        max-height: 100px;
        margin-bottom: 10px;
    }
    .country-item span {
        font-size: 1.2em;
    }

</style>
<body>
    <h1>Este idioma se habla en:{{ language }}</h1>
    <ul class="country-list">
        {% for country in data %}
        <li class="country-item">
            <img src="{{ country.flags.svg }}" alt="Bandera de {{ country.name.common }}">
            <span>{{ country.name.common }}</span>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}